<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <!-- BEGIN SEARCH RESULT -->
    <div class="col-md-12">
      <div class="grid search">
        <div class="grid-body">
          <div class="row">
            <!-- BEGIN FILTERS -->
            <div class="col-md-3">
              <h3 class="grid-title">VAGAS DE TI</h3>
              <hr>
              <!-- BEGIN FILTER BY CATEGORY -->
              <h5>Categoria:</h5>
              <div class="checkbox">
                <label><input type="checkbox" class="icheck"> Application</label>
              </div>
              <!-- END FILTER BY CATEGORY -->
              <div class="pt-3"></div>
              <!-- BEGIN FILTER BY DATE -->
              <h5>Data:</h5>
              De
              <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input1">
                <input type="date" class="form-control">
                <span class="input-group-addon bg-blue"></span>
              </div>
              <input type="hidden" id="dtp_input1" value="">
              Para
              <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2">
                <input type="date" class="form-control">
                <span class="input-group-addon bg-blue"></span>
              </div>
              <input type="hidden" id="dtp_input2" value="">
              <!-- END FILTER BY DATE -->
              <div class="padding"></div>
            </div>
            <!-- END FILTERS -->
            <!-- BEGIN RESULT -->
            <div class="col-md-9">
              <h3><i class="fa-regular fa-file"></i> Resultado</h3>
              <hr>
              <!-- BEGIN SEARCH INPUT -->
              <div class="input-group">
                <input type="text" class="form-control" value="" placeholder="Vaga">
                <span class="input-group-btn">
                  <button class="btn btn-primary mb-0 rounded-0 rounded-end" type="button"><i class="fa fa-search"></i></button>
                </span>
              </div>
              <!-- END SEARCH INPUT -->
              <p>Exibindo resultados para a pesquisa "Vaga Ruby"</p>
              <div class="padding"></div>
              <div class="row">
                <!-- BEGIN ORDER RESULT -->
                <div class="col-sm-6">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      Ordernar por <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Título</a></li>
                      <li><a href="#">Data</a></li>
                    </ul>
                  </div>
                </div>
                <!-- END ORDER RESULT -->
              </div>
              <!-- BEGIN TABLE RESULT -->
              <div class="table-responsive">
                <table class="table table-striped table-hover">
                  <tbody>
                    <% @vacancies.each do |vacancy| %>
                      <tr>
                        <td class="product"><h4><a href="<%= vacancy.url %>" target="_blank"><%= vacancy.title %></a></h4>
                        <div class="">
                          <%= markdown(truncate(vacancy.body, length: 300, omission: '... ')) %>
                        </div>
                        <div>
                          <% vacancy.tags.each do |tag| %>
                          <span class="badge badge-pill " style="background-color:#<%= tag.to_h['color']%>"><%= tag.to_h['name']%></span>
                          <% end%>
                        </div>

                        </td>
                      </tr>
                    <% end%>
                  </tbody>
                </table>
              </div>
              <!-- END TABLE RESULT -->
              <!-- BEGIN PAGINATION -->
              <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Próxima</a>
                  </li>
                </ul>
              </nav>
              <!-- END PAGINATION -->
            </div>
            <!-- END RESULT -->
          </div>
        </div>
      </div>
    </div>
    <!-- END SEARCH RESULT -->
  </div>
</div>
