<!-- Layout container -->
<div class="layout-page">
<!-- Navbar -->
<nav
   class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
   <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0   d-xl-none ">
      <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
         <i class="fa-solid fa-bars"></i>
      </a>
   </div>
   <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
      <!-- Search -->
      <%= form_with url: vacancies_path, method: :get, local:true, data: { turbo: "false" } do |form| %>
         <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
               <i class="fa-solid fa-magnifying-glass"></i>
               <%= form.text_field :q, class: "form-control border-0 shadow-none ps-1 ps-sm-2", placeholder: "Pesquise sua vaga", value: params[:q] %>
            </div>
         </div>
      <% end %>
      <!-- /Search -->
   </div>
</nav>
<!-- / Navbar -->
<!-- Content wrapper -->
<div class="content-wrapper">
   <!-- Content -->
   <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="py-3 mb-4">
         <% if params[:q].present? %>
         <span class="text-muted fw-light">Exibindo resultados para a pesquisa /</span><%= params[:q] %>
         <% end %>
         <% if @start_date.present? && @end_date.present? %>
         <span class="text-muted fw-light">Exibindo vagas entre / <%= Date.parse(@start_date).strftime('%d/%m/%Y') %> e <%= Date.parse(@end_date).strftime('%d/%m/%Y') %>
         <% end %>
      </h4>
      <!-- Basic Bootstrap Table -->
      <div class="card">
         <h5 class="card-header">Resultados</h5>
         <div class="table-responsive">
            <table class="table">
               <tbody class="table-border-bottom-0">
                  <% @vacancies.each do |vacancy| %>
                  <tr>
                     <td class="product">
                        <h4><a href="<%= vacancy.url %>" target="_blank"><%= vacancy.title %></a></h4>
                        <div class="">
                           <%= markdown(truncate(vacancy.body, length: 300, omission: '... ')) %>
                        </div>
                        <div>
                           <% vacancy.tags.each do |tag| %>
                           <%= link_to vacancies_path(label: tag['name']), class: "text-decoration-none" do %>
                           <span class="badge badge-pill " style="background-color:#<%= tag.to_h['color']%>"><%= tag.to_h['name']%></span>
                           <% end %>
                           <% end%>
                        </div>
                     </td>
                  </tr>
                  <% end%>
               </tbody>
            </table>
            <hr>
            <div class="m-2">
               <%== pagy_bootstrap_nav(@pagy) %>
            </div>
         </div>
      </div>
      <!--/ Basic Bootstrap Table -->
   </div>
   <!-- / Content -->
   <%= render("partials/footer") %>
</div>
