<!DOCTYPE html>
<html>
  <head>
    <title>Vagas de TI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,800" rel="stylesheet" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
